<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Архив библиотеки</h2>
    <form action="/add/" method="POST">
        <input type="text" name="author" placeholder="Автор">
        <input type="text" name="descrip" placeholder="Название книги">
        <input type="number" name="year" placeholder="год издания">
        <button>Добавить</button>
        <br>
        <br>
    </form>
<table>
    <tr>
    {% for j in exc %}
        <td><b></color>{{ j }}</b></td>
    {% endfor %}
    
    {% for i in range(3) %}
    <tr>
        {% for i in excel_f[i] %}
            <td>{{ i }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tr>
</table>

</body>
</html>